* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.caja {
    background-color: #6b6b6b;
    color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: solid 3px #4e4e4e;
    width: 25%;
}

.caja p {
    width: 80%;
    text-align: center;
    font-weight: 400;
}

.btn {
    border: solid 3px #fff;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    font-weight: 700;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    width: fit-content;
}

.btn:hover {
    border: solid 3px #fff;
    background-color: #45ac5b;
    filter: drop-shadow(0 0 2px #fff);
}

#genero {
    display: flex;
    padding: 0.5em;
}

#genero input {
    margin: 0 0.5em;
    width: 20px;
}

#imc {
    background-color: #45ac5b;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error {
    display: none;
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-radius: 0.25rem;
    padding: 0.75rem 1.25rem;
    width: 100%;
    text-align: center;
}

#error:before {
    content: '⚠ ';
}

#resultado {
    color: #45ac5b;
}

/* Modal Box */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 28vh;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 100px 0px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 25px;
}

/* The Close Button */
#cerrar {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-top: -105px;
    margin-right: 10px;
}

#cerrar:hover,
#cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    text-align: center;
    color: #45ac5b;
}

/* Tabla */
#contenedor-historial {
    display: none;
}

#historial {
    background-color: #45ac5b;
    color: #fff;
}

#historial th,
#historial td {
    padding: 5px;
    border: solid 2px rgb(107, 107, 107);
    text-align: center;
}

/* Animations */

/*base code*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes shake {

    0%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
}

@keyframes shake {

    0%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        -ms-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        -ms-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake
}