* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.flexContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/background.jpg');
    background-size: contain;
}

.caja {
    background-color: #000000a1;
    box-shadow: 0px 0px 5px black;
    color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 25%;
}

.caja p {
    filter: drop-shadow(0 0 2px #000);
    width: 80%;
    text-align: center;
    font-weight: 400;
}

.btn {
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    width: fit-content;
    border: unset;
    border-bottom: 3px solid #0a6e6d;
    background-color: #0e9794;
    filter: drop-shadow(0 0 2px #000);
}

.btn:hover {
    background-color: #319492;
}

label {
    filter: drop-shadow(0 0 2px #000);
}

#genero {
    display: flex;
    padding: 0.5em;
}

#genero input {
    margin: 0 0.5em;
    width: 20px;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error {
    display: none;
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-radius: 0.25rem;
    padding: 0.75rem 1.25rem;
    width: 100%;
    text-align: center;
}

#error:before {
    content: '⚠ ';
}

#resultado {
    color: #0e9794;
}

h2 {
    text-align: center;
    color: #fff;
    filter: drop-shadow(0 0 2px #000);
}

/* Tabla */
#contenedor-historial {
    display: none;
    background-color: #000000a1;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px black;
    align-items: center;
    flex-direction: column;
}

#historial {
    color: #fff;
    filter: drop-shadow(0 0 2px #000);
}

table {
    border-collapse: collapse;
}

#historial th,
#historial td {
    padding: 5px;
    text-align: left;
    border-left: solid 1px #fff;
}

#historial th:nth-child(1),
#historial td:nth-child(1) {
    border-left: unset;
}

#historial th {
    border-bottom: solid 1px #fff;
}

/* Animations */

/*base code*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes shake {

    0%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
}

@keyframes shake {

    0%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        -ms-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        -ms-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake
}

#receta {
    display: none;
    align-items: center;
    padding: 50px;
    color: #fff;
    border-top: solid 5px #0e9794;
    background-image: url('../images/background.jpg');
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#receta-contenedor {
    background-color: #000000a1;
    display: flex;
    border-radius: 25px;
}

#imagen-receta {
    border-radius: 25px 0 0 25px;
}